@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}

#container {
    background: #555;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.character {
    background: #fff;
    margin-bottom: 35px;
    border-radius: 8px;
    box-shadow: 1xp 1px 15px #ccc;
}

.character img{
    width: 100%;
    display: block;
    height: 400px;
    object-fit: cover;
}

.character-detail{
    padding: 15px;
}
