@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-align: center;
    color: #ffffee;
}

.container-header{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;  
    background: rgb(32, 35, 41);
}

#container {
    background: rgb(32, 35, 41);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.character {
    background: #000;
    margin-bottom: 35px;
    border-radius: 8px;
    margin: 15px;
    box-shadow: 1px 1px 1px 3px #ccc;
}

.character img{
    width: 100%;
    display: block;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.character-detail{
    padding: 15px;
    padding-left: 20px;
}

.texto1{
    color: #ffffee;
}